bin/python3.12
bin/python3
bin/python
hw5/__pycache__/worker.cpython-313.pyc
__pycache__/
hw5/BoW_G_RBF_CV/BoW_G_RBF_CV_beta_-1_1_C_0_3_n_5_folds_5.pkl
hw5/BoW_G_RBF_CV/BoW_G_RBF_CV_beta_-2.0_-1.0_C_0.0_2.0_n_5_folds_5.pkl
hw5/BoW_G_RBF_CV/BoW_G_RBF_CV_beta_-2.0_-1.0_C_1.0_3.0_n_5_folds_5.pkl
hw5/BoW_G_RBF_CV/BoW_G_RBF_CV_beta_-3.0_-2.0_C_2.0_4.0_n_10_folds_5.pkl
hw5/__pycache__/task2_worker.cpython-313.pyc
hw5/__pycache__/utils.cpython-311.pyc
hw5/__pycache__/worker.cpython-313.pyc
hw5/BoW_G_RBF_gram/BoW_G_RBF_gram_beta_1.0e-01.pkl
hw5/BoW_G_RBF_gram/BoW_G_RBF_gram_beta_1.0e-02.pkl
hw5/BoW_G_RBF_gram/BoW_G_RBF_gram_beta_1.0e-03.pkl
hw5/BoW_G_RBF_gram/BoW_G_RBF_gram_beta_1.0e+00.pkl
hw5/BoW_G_RBF_gram/BoW_G_RBF_gram_beta_1.0e+01.pkl
hw5/BoW_G_RBF_gram/BoW_G_RBF_gram_beta_1.3e-03.pkl
hw5/BoW_G_RBF_gram/BoW_G_RBF_gram_beta_1.7e-03.pkl
hw5/BoW_G_RBF_gram/BoW_G_RBF_gram_beta_1.8e-02.pkl
hw5/BoW_G_RBF_gram/BoW_G_RBF_gram_beta_2.2e-03.pkl
hw5/BoW_G_RBF_gram/BoW_G_RBF_gram_beta_2.8e-03.pkl
hw5/BoW_G_RBF_gram/BoW_G_RBF_gram_beta_3.2e-01.pkl
hw5/BoW_G_RBF_gram/BoW_G_RBF_gram_beta_3.2e-02.pkl
hw5/BoW_G_RBF_gram/BoW_G_RBF_gram_beta_3.2e+00.pkl
hw5/BoW_G_RBF_gram/BoW_G_RBF_gram_beta_3.6e-03.pkl
hw5/BoW_G_RBF_gram/BoW_G_RBF_gram_beta_4.6e-03.pkl
hw5/BoW_G_RBF_gram/BoW_G_RBF_gram_beta_5.6e-02.pkl
hw5/BoW_G_RBF_gram/BoW_G_RBF_gram_beta_6.0e-03.pkl
hw5/BoW_G_RBF_gram/BoW_G_RBF_gram_beta_7.7e-03.pkl
hw5/BoW_poly_CV/BoW_poly_CV_alpha_1.0_3.0_n_alpha_5_deg_2_2_C_-1.0_1.0_n_C_5_folds_5.pkl
hw5/BoW_poly_CV/BoW_poly_CV_alpha_1.0_3.0_n_alpha_5_deg_3_4_C_-1.0_0.0_n_C_5_folds_5.pkl
hw5/BoW_poly_CV/BoW_poly_CV_alpha_2.0_4.0_n_alpha_5_deg_2_2_C_-1.0_0.0_n_C_5_folds_5.pkl
hw5/BoW_poly_CV/BoW_poly_CV_alpha_2.0_4.0_n_alpha_10_deg_2_2_C_-0.5_0.0_n_C_10_folds_5.pkl
hw5/BoW_poly_CV/BoW_poly_CV_alpha_2.0_4.0_n_alpha_10_deg_3_4_C_-0.5_0.0_n_C_10_folds_5.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_2_alpha_1e-01.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_2_alpha_1e+01.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_2_alpha_1e+02.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_2_alpha_1e+03.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_2_alpha_1e+04.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_2_alpha_2e+01.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_2_alpha_2e+02.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_2_alpha_2e+03.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_2_alpha_3e+00.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_2_alpha_3e+01.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_2_alpha_3e+02.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_2_alpha_3e+03.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_2_alpha_4e+03.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_2_alpha_5e+02.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_2_alpha_6e-01.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_2_alpha_6e+03.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_2_alpha_8e+02.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_3_alpha_1e+01.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_3_alpha_1e+02.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_3_alpha_1e+03.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_3_alpha_1e+04.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_3_alpha_1e+05.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_3_alpha_1e+06.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_3_alpha_2e+02.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_3_alpha_2e+03.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_3_alpha_2e+04.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_3_alpha_3e+01.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_3_alpha_3e+02.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_3_alpha_4e+03.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_3_alpha_4e+05.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_3_alpha_5e+02.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_3_alpha_5e+04.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_3_alpha_6e+03.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_3_alpha_8e+02.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_4_alpha_1e+01.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_4_alpha_1e+02.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_4_alpha_1e+03.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_4_alpha_1e+04.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_4_alpha_1e+05.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_4_alpha_1e+06.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_4_alpha_2e+02.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_4_alpha_2e+03.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_4_alpha_2e+04.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_4_alpha_3e+01.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_4_alpha_3e+02.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_4_alpha_4e+03.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_4_alpha_4e+05.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_4_alpha_5e+02.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_4_alpha_5e+04.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_4_alpha_6e+03.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_4_alpha_8e+02.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_5_alpha_1e+02.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_5_alpha_1e+05.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_5_alpha_1e+06.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_5_alpha_2e+03.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_5_alpha_2e+04.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_5_alpha_3e+02.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_5_alpha_4e+05.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_5_alpha_5e+04.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_5_alpha_6e+03.pkl
hw5/BoW_poly_gram/bow_gram_poly_deg_5_alpha_8e+02.pkl
hw5/data/cleaned_tweets_test.tsv
hw5/data/cleaned_tweets_train.tsv
hw5/written/hw5.aux
hw5/written/hw5.fdb_latexmk
hw5/written/hw5.fls
hw5/written/hw5.log
hw5/written/hw5.synctex.gz
hw5/written/hw5.synctex.gz.sum.synctex
hw5/hw5_task_2_cv_err.pkl
hw6/hw6 written/hw6.pdf
hw6/hw6 written/hw6.tex
hw5/__pycache__/worker.cpython-313.pyc
pyvenv.cfg
hw6/hw6 written/hw6.aux
hw6/hw6 written/hw6.fdb_latexmk
hw6/hw6 written/hw6.fls
hw6/hw6 written/hw6.log
hw6/hw6 written/hw6.synctex.gz
hw5/__pycache__/
hw6/hw6 written/hw6.out
hw6/hw6 experimental/utils.py
hw7/hw7 written/hw7 solns.synctex.gz
hw7/hw7 written/hw7 solns.log
hw7/hw7 written/hw7 solns.fls
hw7/hw7 written/hw7 solns.aux
hw7/hw7 written/hw7 solns.fdb_latexmk
hw7/hw7 experimental/utils.py
hw7/hw7 experimental/linclass.py
hw8/hw8 written/hw8.synctex.gz
hw8/hw8 written/hw8.log
hw8/hw8 written/hw8.fls
hw8/hw8 written/hw8.aux
hw8/hw8 written/hw8.fdb_latexmk
